body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bordered {
    border-top: 2px solid #ea7c0e;
}

@media (max-width:768px) {
    /* Maximize screen real-estate by taking it to the edges of the phone, 15px is just too much wasted space */
    .container {
        padding-left:5px;
        padding-right:5px;
    }
}

.news-list {
    display:table;
    border-spacing: 5px;
    width:100%;
}

.news {
    display:table-row;
}

.news-left {
    width: 75px;
}

.news-left, 
.news-body {
    display: table-cell;
    overflow:hidden;
    vertical-align: top;
    background-color: #fafafa;
    height: 50px;
    box-shadow: 1px 2px 2px #888;
}

.news-left a,
.news-body a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 5px;
}