h1, .h1 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
}
h2, .h2 {
    font-size: 21px;
    margin-bottom: 15px;
    margin-top: 15px;
}
h3, .h3 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}
h4, .h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h5, .h5 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h6, .h6 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

body {
    overflow-y: scroll;
    font-family: "Futura Book","Open Sans",sans-serif;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bordered {
    border-top: 2px solid #ea7c0e;
}

/* #region Navbar */
.navbar {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 5px;
}

.container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}

.navbar-default {
    background-color: white;
}

.navbar-brand {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ea7c0e;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
    background-color: #ea7c0e;
}

.nav-pills {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.navbar-toggle {
    margin-right: 0;
}

/* #endregion*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    background-color: #ea7c0e;
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

@media (max-width:768px) {
    /* Maximize screen real-estate by taking it to the edges of the phone, 15px is just too much wasted space */
    .container {
        padding-left:5px;
        padding-right:5px;
    }
}
/*
.section-heading {
    border-bottom: 1px solid #ccc;
}*/

/* #region News */
.news-section {
 /*   margin-bottom: 20px; */
}

.news-section h1,
.news-section h2 {
    margin-bottom: 5px;
}

.news-list-wrapper {
    margin: 0 -2px;
}

.news-list {
    display:table;
    border-spacing: 2px;
    border-collapse: collapse;
    line-height: 14px;
    width:100%;
}

.news-list .news {
    display:table-row;
}

.news-list .news-left {
    width: 40px;
}

.news-list .news-left,
.news-list .news-body {
    display: table-cell;
    vertical-align: top;
    overflow:hidden;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 2px; 
}

.news-list .news-left a,
.news-list .news-body a {
    width: 100%;
}

.news-list .news-left a,
.news-list .news-body a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 5px;
}

.news-more {
    display:inline-block;
    overflow:hidden;
    background-color: #fafafa;
    height: 50px;
    box-shadow: 1px 2px 2px #888;
    margin-left: 5px;
    margin-right: 5px;
}

.news-more a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 15px 5px;
}

/* #endregion */