@{
    ViewBag.Title = "About SlackerNews";
}

<div>
    <div class="page-header">
        <h1 class="">About SlackerNews <small><i>the easiest way to stay current in tech</i></small></h1>
    </div>
    <div>
         SlackerNews started as a way to keep up-to-date on the great content submitted by passionate engineers, designers, scientists, and movers and shakers within the tech community without refreshing HackerNews every five minutes. Since then, it has grown to curating and categorizing content according to the type of story, bringing another lens through which to view this great resource.
    </div>

    <h1 class="section-heading">Vision</h1>
    <div>
        SlackerNews aims to become the equivalent of a trade magazine for the startup and technology industries: a place to be informed of all the important happenings, and trends likely to affect your business and career.  The advent of Machine Learning and AI provide rich analysis capabilities that are transforming the publishing industry and ultimately the world. Come help us build the future! 
    </div>

    <h1 class="section-heading">Contribute</h1>
    <div>
        <a href="https://github.com/TheRealJZ/slackernews" class="btn btn-default">We're on GitHub! <span class="fa fa-github"></span></a><br />
        Issues, PRs, suggestions welcome, come help make SlackerNews even better!
        
    </div>

    <h1 class="section-heading">Technical Details</h1>
    <div>
        More details to come, send me your questions!
        <h2>Machine Specs</h2>
        See <a href="http://blog.johnzumbrum.com/designing-infrastructure-for-slackernews-launch">my blog post</a> describing how I sized this server
        <ul style="list-style: none">
            <li>AWS Elastic IP</li>
            <li>AWS EC2 c4.large Instance</li>
            <li>CPU: 2vCPU Intel Xeon E5-2666 v3 (Haswell)</li>
            <li>RAM: 3.75 GB</li>
        </ul>
        
        <h2>Software Specs</h2>
        <ul style="list-style: none">
            <li><a href="http://www.ibm.com/watson/developercloud/nl-classifier.html">IBM Watson&trade; Natural Language Classifier</a></li>
            <li>Windows Server 2012R2 running IIS</li>
            <li>SQL Server 2016 Express</li>
            <li>C# MVC 4</li>
            <li>Entity Framework 6.1.3</li>
        </ul>        
    </div>

    <h1 class="section-heading">Project Maintainer</h1>
    <div>
        <a href="http://johnzumbrum.com">John Zumbrum</a><br />
        Passionate Product Designer, passionate about AI, language, and Machine Learning<br /> 
        See what I'm up to <a href="http://blog.johnzumbrum.com">on my blog.</a><br />
        Thanks for supporting SlackerNews!
    </div>
</div>