@using Common
@model Website.Models.HomePageModel
@{
    ViewBag.Title = "Slacker News - Top Hacker News Stories";
}

<div class="section text-center">
    <h2>The best of HackerNews</h2>
    @{ Html.RenderPartial("_searchBox"); }
</div>

<div class="section bordered">
    <div class="news-section">
        <h2 class="section-heading"><span class="fa fa-fire"></span> Hot Stories</h2>
        @if (Model != null && Model.TopArticles != null && Model.TopArticles.Any())
        {
            <div class="news-list-wrapper">
                <div class="news-list">
                    @foreach (var a in Model.TopArticles)
                {
                    Html.RenderPartial("_article", a);
                }
                </div>
            </div>
        }
        else
        {
            <div>Check back later for more top stories</div>
        }
    </div>
</div>