@model List<Common.article>
@{
    ViewBag.Title = "Slacker News " + ViewBag.SectionName;
}

<h1>Top @ViewBag.SectionName Stories</h1>
@if (Model != null && Model.Any())
{
    <div class="news-list">
        @foreach (var article in Model)
        {
            Html.RenderPartial("_article", article);
        }
    </div>
}
else
{
    @: No recent top articles in this section, please check back later!
}
