
<div class="page-header">
<div class="text-center">
    <h1>Get the best of Hacker News in your inbox</h1>
    <h4>weekly email newsletter of top stories for you to stay current without constantly refreshing</h4>
</div>

@Html.Partial("_mailchimpSignup")

</div>
<div class="text-center" style="background-color: teal; padding:20px">
    <img src="~/Content/images/SlackerWeekly.png" alt="SlackerWeeklyPreview" style="max-width:95%" />
</div>