@model Common.article

<div class="news">
    <div class="news-left text-right">
        <a href="https://news.ycombinator.com/item?id=@Model.hn_article_id">
            <div>@Model.score @Model.GetFormattedTimeSinceCreated()</div>
        </a>
    </div>
    <div class="news-body"><a href="@Model.url">@Model.title</a></div>
</div>