@{
    bool? showFooter = ViewBag.ShowSignupFooter;
    if (showFooter != null && (bool)showFooter)
    {
        <div class="section bordered text-center">
            <!-- Begin MailChimp Signup Form -->
            <form action="//johnzumbrum.us13.list-manage.com/subscribe/post?u=0738612c1a28ea9b3ac165f2e&amp;id=6b0ff4813b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div>
                    <h2>Get the Highest Rated Stories Each Week - Signup for SlackerNews Weekly </h2>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address..." required>
                                <span class="input-group-btn">
                                    <button type="submit" name="subscribe" value="Subscribe" class="btn btn-secondary">subscribe</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0738612c1a28ea9b3ac165f2e_6b0ff4813b" tabindex="-1" value=""></div>
                </div>
            </form>
            <!--End mc_embed_signup-->
        </div>
    }
}