<form class="form-inline" method="GET" action="Home/ByTag">
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="tag" class="form-control" placeholder="python..." />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</form>