<footer class="section bordered text-center">
    <p>
        All data from HackerNews, pulled using the <a href="https://github.com/HackerNews/API">available API</a> hosted on firebase
    </p>
    <p>
        Powered by <a href="http://www.ibm.com/watson/developercloud/nl-classifier.html">IBM Watson&trade; Natural Language Classifier</a>
    </p>
    <p>
        A project by John Zumbrum, check me out at <a href="http://johnzumbrum.com">johnzumbrum.com</a>
    </p>
    <a href="http://johnzumbrum.com"><img height="74" src="/Content/images/JZSealLogoDarkOrange230x230.png" /></a>
</footer>